<a href="https://colab.research.google.com/github/sebekpro/python-krakowiak/blob/main/250-data-science-bootcamp-w-jezyku-python/161_170_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 161](#1)
* [Ćwiczenie 162](#2)
* [Ćwiczenie 163](#3)
* [Ćwiczenie 164](#4)
* [Ćwiczenie 165](#5)
* [Ćwiczenie 166](#6)
* [Ćwiczenie 167](#7)
* [Ćwiczenie 168](#8)
* [Ćwiczenie 169](#9)
* [Ćwiczenie 170](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

'1.26.4'

### <a name='1'></a> Ćwiczenie 161
Wczytaj do obiektu _DataFrame_ o nazwie _df_ plik csv znajdujący się pod linkiem:
* https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv

Ustaw indeks obiektu _df_ na pierwszą kolumnę. Wyświetl obiekt _df_.

In [ ]:
# tutaj wpisz rozwiązanie
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col = 0)

#df.set_index(df.columns[0], inplace = True)
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.00,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.00,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.00,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.00,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.00,NaN,2.50

Wyświetl informacje na temat obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 658.3+ KB

Wyświetl podstawowe statystyki obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df.describe()

         Year  Kilometers_Driven   Seats   Price
count 6019.00            6019.00 5977.00 6019.00
mean  2013.36           58738.38    5.28    9.48
std      3.27           91268.84    0.81   11.19
min   1998.00             171.00    0.00    0.44
25%   2011.00           34000.00    5.00    3.50
50%   2014.00           53000.00    5.00    5.64
75%   2016.00           73000.00    5.00    9.95
max   2019.00         6500000.00   10.00  160.00

### <a name='2'></a> Ćwiczenie 162
Znajdź listę zawierającą nazwy wszystkich kolumn obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie
column_list = list(df.columns)
print(column_list)

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

Z obiektu _df_ usuń kolumnę o nazwie _New_Price_ i wyświetl 5 pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie
df1 = df.copy()
df1.drop('New_Price', axis = 1, inplace = True)
df1.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,17.74

### <a name='3'></a> Ćwiczenie 163
Znajdź liczbę brakujących wartości dla każdej zmiennej obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df1.isna().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych. Użyj parametru _inplace=True_.

In [ ]:
# tutaj wpisz rozwiązanie
df1.dropna(inplace = True)
df1.isna().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

Wyświetl raz jeszcze informacje na temat obiektu _df_. Zwróć uwagę na liczbę wierszy i typ danych.

In [ ]:
# tutaj wpisz rozwiązanie
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5975 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5975 non-null   object
 1   Location           5975 non-null   object
 2   Year               5975 non-null   int64
 3   Kilometers_Driven  5975 non-null   int64
 4   Fuel_Type          5975 non-null   object
 5   Transmission       5975 non-null   object
 6   Owner_Type         5975 non-null   object
 7   Mileage            5975 non-null   object
 8   Engine             5975 non-null   object
 9   Power              5975 non-null   object
 10  Seats              5975 non-null   float64
 11  Price              5975 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 606.8+ KB

### <a name='4'></a> Ćwiczenie 164
Zamień wszystkie litery w nazwach kolumn na małe, np.:
* Name -> name
* Fuel_Type -> fuel_type  

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

df1.columns = df1.columns.str.lower()
df1.head()

,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,17.74

### <a name='5'></a> Ćwiczenie 165
Znajdź rozkład wartości zmiennej _owner_type_.

In [ ]:
# tutaj wpisz rozwiązanie
owner_type_dystrib = df1['owner_type'].value_counts()
print(owner_type_dystrib)

owner_type
First             4903
Second             953
Third              111
Fourth & Above       8
Name: count, dtype: int64

Znajdź rozkład wartości zmiennej _engine_.

In [ ]:
# tutaj wpisz rozwiązanie
engine_dystrib = df1['engine'].value_counts()
print(engine_dystrib)

engine
1197 CC    606
1248 CC    512
1498 CC    303
998 CC     259
2179 CC    240
          ...
1489 CC      1
1422 CC      1
1978 CC      1
2694 CC      1
1797 CC      1
Name: count, Length: 145, dtype: int64

Zauważ, że zmienna _engine_ jest typu _object_. Usuń 3 ostatnie znaki z każdego elementu i resztę skonwertuj na typ int. Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie
df1['engine'] = df1['engine'].str[: -3].astype(int)
df1.head()

,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998,58.16 bhp,5.00,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582,126.2 bhp,5.00,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199,88.7 bhp,5.00,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248,88.76 bhp,7.00,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968,140.8 bhp,5.00,17.74

### <a name='6'></a> Ćwiczenie 166
Spójrz na rozkład zmiennej _power_. Zauważ, że ta zmienna ma także braki danych w postaci wartości _'null bhp'_. Zamień te wartości dla zmiennej _power_ na wartość _np.nan_. Wykorzystaj przy tym funkcję _np.where()_.

In [ ]:
# tutaj wpisz rozwiązanie
# df1[df1['power'].isin(['null bhp'])]
df1['power'] = np.where(df1['power'] == 'null bhp', np.nan, df1['power'])
print(df1['power'].value_counts(dropna = False))

power
74 bhp        235
98.6 bhp      131
73.9 bhp      125
140 bhp       123
78.9 bhp      111
             ...
201 bhp         1
199.3 bhp       1
95 bhp          1
152.88 bhp      1
181.04 bhp      1
Name: count, Length: 371, dtype: int64

Usuń jeszcze raz wszystkie rekordy z brakami danych.

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5975 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5975 non-null   object
 1   location           5975 non-null   object
 2   year               5975 non-null   int64
 3   kilometers_driven  5975 non-null   int64
 4   fuel_type          5975 non-null   object
 5   transmission       5975 non-null   object
 6   owner_type         5975 non-null   object
 7   mileage            5975 non-null   object
 8   engine             5975 non-null   int64
 9   power              5872 non-null   object
 10  seats              5975 non-null   float64
 11  price              5975 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 606.8+ KB

In [ ]:
# tutaj wpisz rozwiązanie
df1.dropna(inplace = True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5872 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5872 non-null   object
 1   location           5872 non-null   object
 2   year               5872 non-null   int64
 3   kilometers_driven  5872 non-null   int64
 4   fuel_type          5872 non-null   object
 5   transmission       5872 non-null   object
 6   owner_type         5872 non-null   object
 7   mileage            5872 non-null   object
 8   engine             5872 non-null   int64
 9   power              5872 non-null   object
 10  seats              5872 non-null   float64
 11  price              5872 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 596.4+ KB

### <a name='7'></a> Ćwiczenie 167
Zauważ, że zmienna _power_ jest typu _object_. Usuń 4 ostatnie znaki z każdego elementu i resztę skonwertuj na typ float.

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie
df1['power'] = df1['power'].str[: -3].astype(float)
df1.head()

,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998,58.16,5.00,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582,126.20,5.00,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199,88.70,5.00,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248,88.76,7.00,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968,140.80,5.00,17.74

### <a name='8'></a> Ćwiczenie 168
Pogrupuj dane na poziomie roku (_year_) i policz liczbę rekordów dla każdego roku w obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie
df1.groupby('year').count()

,name,location,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
year,,,,,,,,,,,
1998,3,3,3,3,3,3,3,3,3,3,3
1999,2,2,2,2,2,2,2,2,2,2,2
2000,4,4,4,4,4,4,4,4,4,4,4
2001,4,4,4,4,4,4,4,4,4,4,4
2002,11,11,11,11,11,11,11,11,11,11,11
2003,14,14,14,14,14,14,14,14,14,14,14
2004,25,25,25,25,25,25,25,25,25,25,25
2005,42,42,42,42,42,42,42,42,42,42,42
2006,66,66,66,66,66,66,66,66,66,66,66
2007,105,105,105,105,105,105,105,105,105,105,105
2008,162,162,162,162,162,162,162,162,162,162,162
2009,191,191,191,191,191,191,191,191,191,191,191
2010,333,333,333,333,333,333,333,333,333,333,333
2011,452,452,452,452,452,452,452,452,452,452,452
2012,562,562,562,562,562,562,562,562,562,562,562
2013,639,639,639,639,639,639,639,639,639,639,639
2014,794,794,794,794,794,794,794,794,794,794,794
2015,740,740,740,740,740,740,740,740,740,740,740
2016,737,737,737,737,737,737,737,737,737,737,737
2017,586,586,586,586,586,586,586,586,586,586,586
2018,298,298,298,298,298,298,298,298,298,298,298
2019,102,102,102,102,102,102,102,102,102,102,102

### <a name='9'></a> Ćwiczenie 169
Sprawdź rozkład zmiennej _transmission_.

In [ ]:
# tutaj wpisz rozwiązanie
df1['transmission'].value_counts()

transmission
Manual       4170
Automatic    1702
Name: count, dtype: int64

Dokonaj następującego mapowania zmiennej _transmission_:
* Manual -> 0
* Automatic -> 1

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

df1['transmission'] = df1['transmission'].map({'Manual': 0, 'Automatic': 1})
df1.head()

,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,0,First,26.6 km/kg,998,58.16,5.00,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,0,First,19.67 kmpl,1582,126.20,5.00,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,0,First,18.2 kmpl,1199,88.70,5.00,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,0,First,20.77 kmpl,1248,88.76,7.00,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,1,Second,15.2 kmpl,1968,140.80,5.00,17.74

### <a name='10'></a> Ćwiczenie 170
Zapisz obiekt _df_ do pliku _car.csv_ (nie zapisuj indeksu).

In [ ]:
# tutaj wpisz rozwiązanie
df1.to_csv('car.csv', index = False)

Uruchom poniższą instrukcję w celu sprawdzenia.

In [ ]:
!head car.csv

name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,0,First,26.6 km/kg,998,58.16,5.0,1.75
Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,0,First,19.67 kmpl,1582,126.2,5.0,12.5
Honda Jazz V,Chennai,2011,46000,Petrol,0,First,18.2 kmpl,1199,88.7,5.0,4.5
Maruti Ertiga VDI,Chennai,2012,87000,Diesel,0,First,20.77 kmpl,1248,88.76,7.0,6.0
Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,1,Second,15.2 kmpl,1968,140.8,5.0,17.74
Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,0,First,21.1 km/kg,814,55.2,5.0,2.35
Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,0,First,23.08 kmpl,1461,63.1,5.0,3.5
Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,1,First,11.36 kmpl,2755,171.5,8.0,17.5
Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,0,First,20.54 kmpl,1598,103.6,5.0,5.2